<div class="sideBar">
    <div class="User">
        <span class="connexion">
            <i class="fa fa-calendar" aria-hidden="true"></i>
            Dernier connexion:
            <h6>11-08-2022 12:05:35</h6>
        </span>
        <span class="configNav">
            <i class="fa fa-cogs" aria-hidden="true"></i>
        </span>
    </div>
    <div class="nav">
        <div class="items">
            <div class="item" routerLink="/home"  routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-tachometer" aria-hidden="true"></i></span>
                <a routerLink="/home" class="item-link">Dasheboard</a>
            </div>

            <div class="item" routerLink="/devis" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-eur" aria-hidden="true"></i></span>
                <a routerLink="/devis" class="item-link">Devis </a>
            </div>

            <div class="item" routerLink="/facture" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-file-text" aria-hidden="true"></i></span>
                <a routerLink="/facture" class="item-link">facture</a>
            </div>

            <div class="item" routerLink="/bibliotheques" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-list-alt" aria-hidden="true"></i></span>
                <a routerLink="/bibliotheques" class="item-link">Bibliothèques </a>
            </div>

            <div class="item" routerLink="/docperso" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-magic" aria-hidden="true"></i>
                </span>
                <a routerLink="/docperso" class="item-link">Documents perso</a>
            </div>


            <div class="item" routerLink="/signatureElec" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></span>
                <a routerLink="/signatureElec" class="item-link">Signature électronique</a>
            </div>

            <div class="item" routerLink="/factureNonPa" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
                <a routerLink="/factureNonPa" class="item-link">Facture non payé</a>
            </div>

            <div class="item" routerLink="/ressource" routerLinkActive="active">
                <span class="item-icon"><i class="fa fa-users" aria-hidden="true"></i></span>
                <a routerLink="/ressource" class="item-link">Gestion de ressource</a>
            </div>

        </div>

    </div>
</div>