@import '../../variable.scss';


.sideBarCollopsed {
    background-color: $_seconderColor;
    height: 100vh;
    width: 50px;
    transition: all .5s ease;
    
    .connexion {
        display: none;      
    }

    .tooltipe:hover .tooltiptext {
        visibility: visible;
      }
      

    .configNav {
        width: 100%;
        height: 65px;
        display: grid;
        align-items: center;
        text-align: center;
        background-color: $_principalColor;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        border-bottom: 1px solid #123;
    }

    .item-icon {
        width: 55px;
        text-align: center;
    }

    .item-link {
        display: none;
    }

}

.sideBar {
    background-color: $_seconderColor;
    height: 100vh;
    transition: all .5s ease;

    .User {
        background-color: $_principalColor;
        height: 10%;
        border-bottom: 1px solid #123;
        display: flex;
        align-items: center;
        color: #fff;
        font-weight: 500;
        text-align: center;
        width: 100%;

        .connexion {
            width: 75%;
            text-align: center;
            font-size: 12px;
        }

        .configNav {
            width: 25%;
            text-align: center;
            height: 100%;
            background: #0e395a;
            display: grid;
            align-items: center;
            text-align: center;
            cursor: pointer;
        }
    }
}
    .nav {
        .items {
            width: 100%;

            .item {
                height: 50px;
                width: 100%;
                display: flex;
                align-items: center;
                padding-left: 7%;
                color: #fff;

                .item-icon {
                    width: 45px;
                }

                .item-link {
                    width: 210px;
                    text-decoration: none;
                    font-weight: 300;
                    color: #fff;
                }
            }

        }
    }

.item:hover {
    background-color: $_principalColor;
    cursor: pointer;
}

.active {
    background-color: $_principalColor;

}

.tooltipe {
    position: relative;
    display: inline-block;
  }
  
  .tooltipe .tooltiptext {
    visibility: hidden;
    width: 175px;
    text-align: center;
    background-color: #123;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    left: 100%;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
